# MongoDB
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DATABASE=ecom_db
MONGO_USERNAME=admin
MONGO_PASSWORD=yassine123

# Eureka Server
EUREKA_HOST=localhost
EUREKA_PORT=8761

# Service Ports
GATEWAY_PORT=8080
USER_SERVICE_PORT=8081
PRODUCT_SERVICE_PORT=8082
MEDIA_SERVICE_PORT=8083

# JWT
JWT_SECRET=65eb26c055f1db06ca30ee63aa222eb85202f183699e520b4b230f5d5a62d804
JWT_EXPIRATION=86400000