# MongoDB (container network)
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_DATABASE=ecom_db
MONGO_USERNAME=admin
MONGO_PASSWORD=change-me

# Eureka (container network)
EUREKA_HOST=discovery-service
EUREKA_PORT=8761

# Service Ports
GATEWAY_PORT=8443
USER_SERVICE_PORT=8081
PRODUCT_SERVICE_PORT=8082
MEDIA_SERVICE_PORT=8083
MEDIA_SERVICE_BASE_URL=http://media-service:8083

# MinIO
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=change-me
MINIO_BUCKET=ecom-media
MEDIA_PUBLIC_BASE_URL=https://localhost:8443/ecom-media

# Gateway HTTPS (mounted in container)
GATEWAY_SSL_ENABLED=true
GATEWAY_SSL_KEY_STORE=/opt/certs/gateway.p12
GATEWAY_SSL_KEY_STORE_PASSWORD=changeit
GATEWAY_SSL_KEY_STORE_TYPE=PKCS12

# JWT (mounted in container)
JWT_PRIVATE_KEY_PATH=/opt/keys/private.pem
JWT_PUBLIC_KEY_PATH=/opt/keys/public.pem
JWT_EXPIRATION=86400000
